/*.. loading CSS asynchronously and gain speed loading the site ..
 *.. (apply immediate CSS with inlineCSS on HTML) ..
<link rel="stylesheet" href="/path/to/my.css" media="print" onload="this.media='all'">
 */

/* Favorite css reset: Normalize.css */
/* Plus 8 categories -->
	1- Box-sizing
	2- Removing margins and paddings
	3- List
	4- Forms and buttoms
	5- Images and embeds
	6- Tables
	7- The hidden attribute
	8- Noscript
*/

/*** Box-sizing ***/
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  /*** Reset margins and paddings on most elements ***/
  body,
  h1,h2,h3,h4,h5,h6,
  ul,ol,li,
  p,
  pre,
  blockquote,
  figure,
  hr {
    margin: 0;
    padding: 0;
  }
  
  /*** List: Removes discs from ul ***/
  ul {
    list-style: none;
  };
  
  /*** Forms and buttoms ***/
  input,
  textarea,
  select,
  button {
    color: inherit; 
    font: inherit; 
    letter-spacing: inherit; 
  }
  input,
  textarea,
  button {
    border: 1px solid gray; 
  }
  button {
    border-radius: 0; 
    padding: 0.75em 1em;
    background-color: transparent;
  }
  embed,
  iframe,
  img,
  object,
  video {
    display: block;
    max-width: 100%;
  }
          /* ...mainly used for JavaScript interaction... */
  button * {
    pointer-events: none;
  }
  
  
  /*** Tables ***/
  table {
    table-layout: fixed;
    width: 100%;
  }
  
  /*** the hidden attribute ***/
  [hidden] {
    display: none !important;
  }
  
  /*** Noscript: ...to let user know there is a script they had disabled; ***/
  noscript {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  /*********** Custom css begins ************/
  /* use em in your media queries
  /* pick min-width or max-width (not both) to simplify queries
  /* avoid using fixed dimentions for elements */
  
  :root {
      --background: rgba(0,214,170,.85);
  }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #222;
    font-weight: 400;

  }

  .content {
      height: 200vh;
      background-image: url(//picsum.photos/1600/900);
      background-color: #333;
      background-blend-mode: multiply;
      background-size: cover;
      display: grid;
      place-items: center;

  }

  /* NAV styles starts here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color:#fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 300ms ease-in-out 300ms;
}

.nav-toggle-label {
  position: absolute;
  top: -1em;
  left: 0;
  margin-left: 1em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position:relative;

}

.nav-toggle-label::before,
.nav-toggle-label::after {
  content: '';
  position: absolute;
}

.nav-toggle-label::after {
  top: 8px;
}

.nav-toggle-label::before {
  bottom: 8px;
}

/*** media queries ***/

@media screen and (min-width: 480px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    display: grid;
    grid-column: 3 / span 1;
    justify-content: flex-end;
    align-items: center;

  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    top: -0.15em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1,1);
    
  }

}